{{#if model.length}}
  <div class="grid app-ls player-ls">
    {{#each arrangedContent as |player index|}}
      <div class="row app-li">
        <div class="app-li-col g-sm-1-5 g-ms-2-12 g-md-1-12 g-lg-1-24">
          <div class="app-li-index" data-index={{inc-number index}}></div>
        </div>
        <div class="app-li-col g-sm-7-10 g-ms-8-12 g-md-9-12 g-lg-23-24 underlined">
          <div class="player-alias">{{player.alias}}</div>
          <div class="player-score">{{player.score}}</div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  {{#empty-state icon-type="question-mark"}}
    No players yet, <br class="empty-state-linebreak"/>
    {{#link-to 'profile' class="empty-state-link"}}
      would you like to be the first?
    {{/link-to}}
  {{/empty-state}}
{{/if}}

{{outlet}}
